.currencies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.currencies_first_floor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.currencies_second_floor {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.currencies_wrapper {
    padding: 5px 10px;
    width: 40%;
    border: 2px solid forestgreen;
    font-weight: 500;
    margin-bottom: 10px;
    box-shadow: 0 0 2px gray;
    border-radius: 2px;
}

.currencies_item__numcode {
    color: darkseagreen;
}

.currency_positive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: green;
    width: 80px;
}

.currency_negative {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
    width: 80px;
}
.currency_negative img {
    transform: rotate(180deg);
}
